- content_for :dashboard_head do
  - if dashboard
    = stylesheet_link_tag 'dashboard', media: 'all', data: { turbolinks_track: true }

%table[board]{ data: { id: board.id} }
  %tr= render partial: 'columns/header', collection: board.columns
  %tr= render board.columns
