.ui-sortable-helper {
  @extend .jiggly;
  box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
}

.jiggly {
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}


@include keyframes(jiggle) {
  0%  { @include transform(rotate(-1deg)); }
  50% { @include transform(rotate(1deg)); }
}

.story {
  background: #ffffff;
  border: 1px solid #ededed;
  border-top-color: #ededed;
  border-left-color: #e0e0e0;
  border-right-color: #d4d4d4;
  border-bottom-color: #e0e0e0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  color: #000;
  cursor: move;
  display: block;
  font-size: 13px;
  height: 75px;
  margin: 0;
  padding: 4px 8px 8px 32px;
  position: relative;

  &.ui-sortable-helper {
    border: 1px solid $yellow;
    @include gradient-vertical(lighten($yellow, 15%), lighten($yellow, 18%));
  }

  .story-fields {
    font-size: 11px;
    padding-right: 13px;

    .summary {
      .inner {
        display: block;
        height: 3.31em;
        line-height: 1.1;
        overflow: hidden;
      }
    }
  }

  .story-key {
    font-size: 11px;
    display: block;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.story-placeholder {
  display: block;
  font-size: 13px;
  height: 75px;
  margin: 0;
  padding: 5px 8px 9px 32px;
  position: relative;


  @extend .progress;
  @extend .active;
  @extend .progress-striped;
  @include border-radius(none);

  .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    @include gradient-striped(#EBEAEC);
  }
}

.busted-max .story-placeholder .bar { @include gradient-striped(#ee5f5b); }
