div.swimlane {
  padding: 0;
  position: relative;
  min-height: 100px;

  &.closed {
    min-height: 0px;

    .swimlane-header .twixie:after {
      border: 6px solid #6e6e6e;
      border-right: none;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: 6px;
      top: 6px;
    }

    .columns {
      .column { padding-bottom: 2px; }
      .story { display: none; }
      min-height: 0px;
    }
  }

  &:last-of-type .columns .column {
    border-bottom: 1px solid #bbbbbb;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  .swimlane-header {
    background: transparent url(image-path('line-norepeat-bbb.png')) repeat-x 0 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    margin: 0 0 8px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 1;

    h2 {
      margin: 0;
      background: #fff;
      border: 1px solid #bbbbbb;
      border-right-color: #a9a9a9;
      border-bottom-color: #a9a9a9;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      color: #6e6e6e;
      display: inline-block;
      font-size: 16px;
      font-weight: normal;
      line-height: 18px;
      padding: 0;
      position: relative;
      height: 1.4em;
      overflow: hidden;
      white-space: nowrap;

      .info {
        margin: 0 8px;
        font-size: 12px;
        font-weight: normal;
      }

      .heading {
        color: #6e6e6e;
        display: inline-block;
        line-height: 1.4;
        margin-left: 0;
        padding: 0 8px 0 21px;
        vertical-align: middle;
      }
    }

    .twixie {
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 18px;

      &:after {
        content: "";
        display: block;
        height: 0;
        width: 0;
        border: 6px solid #6e6e6e;
        border-bottom: none;
        border-left-color: transparent;
        border-right-color: transparent;
        position: relative;
        left: 2px;
        top: 9px;
      }
    }
  }
}
